html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

body {
    display: block;
    margin: 8px;
    justify-self: center;
}

/* recreate layout */

.emojis {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 475px 475px;
    gap: 15px;
}

/* adding border */

.emoji {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    overflow: visible;
}

/* making links into buttons */

a {
    text-decoration: none;
    display: inline-block;
    color: white;
    width: 24rem;
    margin-top: auto;
    background-color: #7837A9;
    padding: 1rem;
    border-radius: 0.5rem;
}

/* order emojis above h2 */

.icon {
    order: -1;
    font-size: 4em;
    align-self: center;
}

/* h2 styling/"line break" */

h2{
    border-bottom: 2px solid #cccccc;
}